
 
<strong><p>studentid:{{this.student.userid}}</p></strong>
<strong><p> first name: {{this.student.firstname}}</p></strong>
<strong><p> last name: {{this.student.lastname}}</p></strong>
<strong><p>street address: {{this.student.address}}</p></strong>
<strong><p>city: {{this.student.city}}</p></strong>
<strong><p>state: {{this.student.state}}</p></strong>
<strong><p>zipcode: {{this.student.zipcode}}</p></strong>
<strong><p>phone number: {{this.student.phone}}</p></strong>
<strong><p>email: {{this.student.email}}</p></strong>
<strong><p>user date: {{this.student.user_DATE}}</p></strong>
<strong><p>checkbox: {{this.student.checkbox}}</p></strong>
<strong><p>selection: {{this.student.selection}}</p></strong>