<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="https://www2.gmu.edu/">GMU</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="CSWebPage.html">CS Department<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Survey</a>
                </li>
            </ul>                 
        </div>
    </nav>
    <!-- <app-form></app-form>    -->
</div>
<router-outlet></router-outlet>
